<h1>タスク編集ページ</h1>
<!--<%= form_for(@task) do |f|%>-->
<!--   <%= f.label :content,'タスク'%>-->
<!--   <%= f.text_field :content%>-->
<!--   <%= f.submit '修正'%>-->
<!--<%end%>-->
<%= render 'form',task: @task%>

<%= link_to'タスク一覧',tasks_path%>